
@tailwind base;
@tailwind components;
@tailwind utilities;

.aside {
    background: #1c1e29;
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
}

/* Desktop: Larger screens */
@media (min-width: 768px) {
    .aside {
        width: 230px;          
        height: auto;         
        min-width: 12%;      
        max-width: 30%;     
        min-height: 100%;     
        max-height: 100%;     
    }
}

/* Mobile: Smaller screens */
@media (max-width: 767px) {
    .aside {
        width: 100%;           
        height: auto;         
        min-width: 100%;       
        max-width: 100%;       
        min-height: 30%;     
        max-height: 80vh;      
        resize: vertical;      
    }
}



.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
}

/* Grid layout for larger screens */
@media (min-width: 768px) {
    .clientsList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
        gap: 10px; 
    }
}

/* List layout for smaller screens */
@media (max-width: 767px) {
    .clientsList {
        display: flex;
        flex-direction: column;
        gap: 10px; 
    }
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1c1e29;
    border: #424242,solid;
    padding: 10px; 
    border-radius: 13px;
    text-align: center; 
}

.userName {
    margin-top: 1vh;
}

.logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}

.logoImage {
    height: 60px;
}

.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
    width: 100%;
    overflow: scroll;
     margin-right: -10000000000000000000000000000000000000000000000000000px;
}


/* Button Container Styles */
.buttonContainer {
    margin-top: 16px; 
    display: flex;
    flex-direction: column;
    gap: 8px; 
  }
  
  /* Room ID Button */
  .roomIdButton {
    width: 100%;
    background-color: #3b82f6; 
    color: #f3f4f6; 
    padding: 8px; 
    border-radius: 13px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .roomIdButton:hover {
    background-color: #2563eb; 
    transform: scale(1.05); 
  }
  
  /* Leave Button */
  .leaveButton {
    width: 100%;
    background-color: #10b981; 
    color: #f3f4f6; 
    padding: 8px; 
    border-radius: 13px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .leaveButton:hover {
    background-color: #dc2626; 
    transform: scale(1.05); 
  }
  
